[submodule "external/libmk3"]
	path = external/libmk3
	url = https://github.com/music-pi/libmk3.git
[submodule "external/mixxx-mk3"]
	path = external/mixxx-mk3
	url = https://github.com/music-pi/mixxx-mk3.git
[submodule "external/maschinepi-te"]
	path = external/maschinepi-te
	url = https://github.com/music-pi/daw.git
