[Unit]
Description=MusicPI DAW application
Documentation=https://github.com/music-pi/daw
PartOf=maschinepi.target
Conflicts=mixxx.target
After=sound.target maschinepi-audio-profile.service
Requires=maschinepi-audio-profile.service
RequiresMountsFor=/home/mpi/maschinepi/samples

[Service]
Type=simple
User=mpi
Group=audio
SupplementaryGroups=pipewire plugdev
Environment=HOME=/home/mpi
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PIPEWIRE_RUNTIME_DIR=/run/user/1000
Environment=PIPEWIRE_LATENCY=64/48000
ExecStart=/usr/local/bin/maschinepi
Restart=on-failure
RestartSec=5
Nice=-10
IOSchedulingClass=realtime
IOSchedulingPriority=0
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=50
LimitRTPRIO=95
LimitMEMLOCK=infinity
PrivateDevices=no

[Install]
WantedBy=maschinepi.target
